/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}                 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

html, body { height: 100%; position: relative; }
body {
	font-size: 14px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.5;
	background: #49748F url(images/main_bgnd.jpg) top repeat-x;
	color: #000;
}

h2 {
	font-size: 18px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}
p {	/*margin-bottom: 1em;*/ }
p.small { 
	font-size: 85%;
	color: #999;
	font-weight: lighter;
	margin-left: 28%;
}
form .indent {
	margin-left: 28%;
}
ul {
	list-style-position: inside;
	margin-left: 2em;
}

a:link, a:visited { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }

.text-left{ text-align: left; }
.text-right{ text-align: right; }

.page {
	/*width: 960px;
	margin: 0 auto; - removed because of 960 css values*/
	background: #D8E4EA url(images/inner_bgnd.jpg) top repeat-x;
	/*-webkit-box-shadow: 0 0 10px #999;*/
	padding-top: 0;
	/*border: 1px solid #aaa;*/
	border-top: 0;
	position: relative;
	/*height: auto;
	min-height: 100%;
	_height: 100%;*/
	overflow:visible; 
}

.block { 
	margin: 10px; 
	width: 300px;
}

.vcard {
	width: 100%;
	display: inline-block;
	margin-top:5px;
}
.vcard p {
	padding:10px;
}
.card {
	width: 100%;
	display: inline-block;
}
.cardphoto {
	float: left;
	padding: 20px 0px 0px 20px;
}
.headline {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
	
.foot {
	background: #000;
	font-size: 11px;;
	color: #fff;
	padding: 10px 0px;
	width: 960px;
	margin: 0 auto;
	display: inline-block;
}
.foot a:link,
.foot a:visited {
	color: #777;
	font-weight: bold;
}

.head {
	color: #fff;
	background: #E9B81B;
	height: 37px;
	font-size: 16px;
	/*padding: 20px 40px 10px 40px;*/
}
.head h1 {
	font-size: 2.75em;
	/*text-shadow:0 0 4px #844, 0 -3px 4px #FFFF33, 2px -6px 6px #FFDD33, -2px -12px 11px #FF8800, 2px  -18px 18px #FF2200;*/
}
.head span {
	margin:0px 20px;
	line-height:30px;
}
.head span a:link,
.head span a:visited {
	color: #fff;
	text-decoration:none;
}

.logo {
	width: 960px;
	height: 190px;
	margin: 0 auto;
	background: transparent url(images/header_ss.png) top no-repeat;
	position: relative;
	z-index: 20;
}
.nav {
	/*padding: 20px 10px;*/
	/*position: absolute;*/
	/*float: left;*/
	/*width: 200px;*/
	position: relative;
	z-index: 40;
}
.nav ul {
	padding:10px 0px;
	list-style: none;
}
.nav li {
	padding: 0px 0px;
	font-size: 18px;
    line-height: 38px;
    overflow:visible;
}
.nav li a {
	color:#fff;
}
.nav li.current a {
	color:#000;
}
#contact {
	background: transparent url(images/grfx_nav_ribbon.png) top no-repeat;
	width:228px;
	height:44px;
	overflow:visible;
	position:absolute;
	left:-10px;
	top:582px;
	z-index:20;
}
.main {
	/*padding: 20px 10px;	
	float: left;*/
	/*position: absolute;*/
	/*width: 720px;*/
	/*right: 1px;*/
	min-height: 400px;
}
.main p {	/*margin-bottom: 1em;*/ }

/* !NOTIFICATIONS */
.notification {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin:  10px 0 20px 0;
	padding: 5px 20px;
}
#message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.75em;
	z-index: 100;
	text-align: center;
}
#message .notification {
	display: block;
	margin: 0 auto;
	width: auto !important;
}
.notification p, .notification ul {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	text-indent: none;
}
.attention {
    background: #fffbcc;
    border-color: #e6db55;
    color: #666452;
}
.information {
	background: #dbe3f0;
	border-color: #a2b4ee;
	color: #383b46;
}
.success {
	background: #d5f0ce;
	border-color: #9adf8f;
	color: #556652;
}
.error {
	background-color: #f0cece;
	border-color:  #df8f8f;
	color:  #533232;
}

/* BUTTONS */
.button,
a.button,
input[type=submit],
.button-group {
	padding: 0.5em 1em;
	position:relative;
	top: -1px;
	margin-left:10px;
	font-weight:bold;
	font-size:12px;
	line-height: 0.95;
	color:#333;
	text-shadow:1px 1px 0 #fff;
	white-space:nowrap;
	border:none;
	overflow:visible;
	background:#ddd;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
	background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);
	border: 1px solid #cbcbcb;
	border-bottom:1px solid #ababab;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
/*	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	box-shadow:0 1px 4px rgba(0,0,0,0.3); */
	cursor:pointer;
}
.button:hover,
input[type=submit]:hover {
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
	box-shadow:0 1px 4px rgba(0,0,0,0.3);
	border: 1px solid #ababab;
	border-bottom: 1px solid #8b8b8b;
	text-decoration: none;
}
.button:active,
input[type=submit]:active {
	border: 1px solid #ababab;
	border-top: 1px solid #8b8b8b;
	border-left: 1px solid #8b8b8b;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#eee),to(#b1b1b1));
	background:-moz-linear-gradient(-90deg,#ddd,#c1c1c1);
}


/* FORM */
form div {
	padding: 5px 0;
}
label {
	display: inline-block;
	width: 25%;
	margin-right: 2%;
	text-align: right;
}
label.remember {width: 50%;}
input[type=text],
input[type=email],
input[type=password] {
	width: 55%;
	padding: 3px 5px;
	font-size: 1.125em;
	color: #666;
}
.submits {
	width: 77%;
	padding: 40px 50px;
	text-align: right;
}

.profile {
	text-align:right
}
.pagetitle {
	position: absolute;
	padding-left:340px;
	top:-40px;
}
.pagetitle h2 {
	font-size: 36px;
	font-weight: normal;
	color:#fff;
	margin: 0;
	padding: 0;
}
#calloutb1 {
	background-color: #305067;
	padding:10px;
	margin-bottom:10px;
	min-height:60px;
	color:#fff;
}
#calloutb2 {
	background-color: #46647E;
	padding:10px;
	margin-bottom:10px;
	min-height:60px;
	color:#fff;
}
#calloutb3 {
	background-color: #738FA4;
	padding:10px;
	margin-bottom:10px;
	min-height:60px;
	color:#fff;
}
.blackbox {
	background-color: #000;
	color: #fff;
	min-height: 640px;
	text-align:center;
	padding-top:20px;
}
.blackbox div {
	padding:5px 10px;
}
.bluebox {
	background-color: #A0B5C5;
}
.whitebox {
	background-color: #FFF;
}
.bluebox div, .whitebox div {
	padding:20px;
}
.newsbox {
	
}

.imageblock {
	position: relative;
	top:-32px;
	z-index:5;
}
.galleryblock {
	position: relative;
	padding-bottom:20px;
	z-index:5;
}

.rounded {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}